#experiment_parent.grid-90.prefix-5.suffix-5.mobile-grid-90.mobile-prefix-5.mobile-suffix-5.grid-parent

  %h2#title.grid-33.mobile-grid-100
    = @title.to_s
  %h2#time_left.grid-33.mobile-grid-100 Time Left:
  %h2#state.grid-33.mobile-grid-100 Status:

  #chart_container.grid-40.prefix-5.suffix-5.mobile-grid-100.grid-parent
    #chart.grid-95.suffix-5mobile-grid-95.mobile-suffix-5
    %p{ align: 'center' } Click and drag to zoom in on histogram.

  #img_container.grid-40.prefix-5.suffix-5.mobile-grid-100.grid-parent{ align: 'center' }
    %img#cell_img.grid-100.mobile-grid-100(src="/assets/imgs/#{@start_img}")
  .clear

  #settings.grid-40.prefix-5.suffix-5.mobile-grid-60.mobile-prefix-35.mobile-suffix-5.grid-parent
    %h3#values.grid-60.prefix-35.suffix-5.mobile-grid-100
      = "Dosage (ul): #{@settings[:dosage]}"
      %br
      = "Syringe Size (ml): #{@settings[:syringe]}"
      %br
      = "Threshold: #{@settings[:threshold]}"

  #run_controls.grid-40.prefix-5.suffix-5.mobile-grid-100.grid-parent{ align: 'center' }
    #left_settings.grid-40.prefix-5.suffix-5.mobile-grid-100
      %button#dose_button.purplebutton{ onclick: 'manualDose();' } Give Dose
      %button#settings_button.bluebutton{ onclick: "window.location.href = '/experiment/settings'"} Settings
    #right_settings.grid-40.prefix-5.suffix-5.mobile-grid-100
      %button#resume_button.greenbutton{ onclick: "resumeExperiment();" } Resume
      %button#pause_button.orangebutton{ onclick: "pauseExperiment();" } Pause
      %button#stop_button.redbutton{ onclick: "window.location.href = '/experiment/end'" } End
